@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xuj1tl');
  src:  url('fonts/icomoon.eot?xuj1tl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xuj1tl') format('truetype'),
    url('fonts/icomoon.woff?xuj1tl') format('woff'),
    url('fonts/icomoon.svg?xuj1tl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mista-logo .path1:before {
  content: "\e900";
  color: rgb(51, 198, 140);
  opacity: 0.946;
}
.icon-mista-logo .path2:before {
  content: "\e901";
  margin-left: -1.4658203125em;
  color: rgb(47, 197, 141);
  opacity: 0.946;
}
.icon-mista-logo .path3:before {
  content: "\e902";
  margin-left: -1.4658203125em;
  color: rgb(55, 199, 138);
  opacity: 0.948;
}
.icon-mista-logo .path4:before {
  content: "\e903";
  margin-left: -1.4658203125em;
  color: rgb(57, 200, 138);
  opacity: 0.972;
}
.icon-mista-logo .path5:before {
  content: "\e904";
  margin-left: -1.4658203125em;
  color: rgb(60, 200, 136);
  opacity: 0.948;
}
.icon-mista-logo .path6:before {
  content: "\e905";
  margin-left: -1.4658203125em;
  color: rgb(107, 212, 117);
  opacity: 0.962;
}
.icon-mista-logo .path7:before {
  content: "\e906";
  margin-left: -1.4658203125em;
  color: rgb(105, 211, 118);
  opacity: 0.931;
}
.icon-mista-logo .path8:before {
  content: "\e907";
  margin-left: -1.4658203125em;
  color: rgb(102, 210, 119);
  opacity: 0.955;
}
.icon-mista-logo .path9:before {
  content: "\e908";
  margin-left: -1.4658203125em;
  color: rgb(111, 213, 116);
  opacity: 0.955;
}
.icon-mista-logo .path10:before {
  content: "\e909";
  margin-left: -1.4658203125em;
  color: rgb(115, 213, 114);
  opacity: 0.955;
}
.icon-mista-logo .path11:before {
  content: "\e90a";
  margin-left: -1.4658203125em;
  color: rgb(65, 202, 134);
  opacity: 0.961;
}
.icon-mista-logo .path12:before {
  content: "\e90b";
  margin-left: -1.4658203125em;
  color: rgb(92, 208, 123);
  opacity: 0.939;
}
.icon-mista-logo .path13:before {
  content: "\e90c";
  margin-left: -1.4658203125em;
  color: rgb(89, 207, 125);
  opacity: 0.96;
}
.icon-mista-logo .path14:before {
  content: "\e90d";
  margin-left: -1.4658203125em;
  color: rgb(96, 209, 122);
  opacity: 0.954;
}
.icon-mista-logo .path15:before {
  content: "\e90e";
  margin-left: -1.4658203125em;
  color: rgb(119, 215, 112);
  opacity: 0.958;
}
.icon-mista-logo .path16:before {
  content: "\e90f";
  margin-left: -1.4658203125em;
  color: rgb(85, 207, 126);
  opacity: 0.942;
}
.icon-mista-logo .path17:before {
  content: "\e910";
  margin-left: -1.4658203125em;
  color: rgb(71, 203, 132);
  opacity: 0.96;
}
.icon-mista-logo .path18:before {
  content: "\e911";
  margin-left: -1.4658203125em;
  color: rgb(122, 215, 111);
  opacity: 0.951;
}
.icon-mista-logo .path19:before {
  content: "\e912";
  margin-left: -1.4658203125em;
  color: rgb(82, 206, 128);
  opacity: 0.958;
}
.icon-mista-logo .path20:before {
  content: "\e913";
  margin-left: -1.4658203125em;
  color: rgb(77, 205, 129);
  opacity: 0.956;
}
.icon-mista-logo .path21:before {
  content: "\e914";
  margin-left: -1.4658203125em;
  color: rgb(229, 231, 231);
  opacity: 0.864;
}
.icon-mista-logo .path22:before {
  content: "\e915";
  margin-left: -1.4658203125em;
  color: rgb(208, 211, 211);
  opacity: 0.89;
}
.icon-mista-logo .path23:before {
  content: "\e916";
  margin-left: -1.4658203125em;
  color: rgb(187, 190, 191);
  opacity: 0.883;
}
.icon-mista-logo .path24:before {
  content: "\e917";
  margin-left: -1.4658203125em;
  color: rgb(74, 204, 130);
  opacity: 0.853;
}
.icon-mista-logo .path25:before {
  content: "\e918";
  margin-left: -1.4658203125em;
  color: rgb(125, 216, 110);
  opacity: 0.95;
}
